{% extends 'template.html' %}

{% block title %}
Startseite
{% endblock %}

{% block content %}

<center>
    <h1 class="header">Willkommen!</h1>
</center>

<div>
    <div>
        <p class="subheader">SensorFlow</p>
    </div>
    <div>
        <p class="main-text-content">
            A modern <span>CSS UI library</span> based on the <span>glassmorphism design principles</span> that
            will<br>help
            you quickly design and build beautiful websites and applications.<br><br>

            New: the glassmorphism generator is live. Check it out!
        </p>
    </div>
</div>
{% endblock %}