<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/visual/icon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Startseite</title>
</head>

<body>
    <div class="navbar">

        <div>
            <img src="/static/visual/banner.png" alt="banner" draggable="false" class="navbar-banner">
        </div>

        <div class="navbar-link-wrapper">
            <div class="navbar-link-container">
                <a class="navbar-link" href="http://127.0.0.1:5000/">Home</a>
            </div>
            <div class="navbar-link-container">
                <a class="navbar-link" href="#">Über uns</a>
            </div>
            <div class="navbar-link-container">
                <a class="navbar-link" href="#">Projekte</a>
            </div>
        </div>
    </div>

    <main>
        <center>
            <h1 class="header">Startseite</h1>
            <p style="color: aliceblue;">Pläne: Geolocation, Temperatur, ???<br>
                Geolocation ist hier: <a href="http://127.0.0.1:5000/geo">Geolocation</a></p>
        </center>
    </main>


    <div class="footer">
        <p>IoT - Sensorik am Körper 2023</p>
    </div>

</body>

</html>