<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="I like 🦕 but not 🚓 😀. Especially 🦈 eating 🍎 or 🍏 or 🍌 or 🍆 or 🥒 are cool. 🦜 are the best" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/visual/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta http-equiv="refresh" content="5">
    <title>SensorFlow - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
    <nav class="navbar">
        <div>
            <img src="/static/visual/banner.png" alt="banner" draggable="false" class="navbar-banner">
        </div>
        <div class="navbar-link-wrapper">
            <div class="navbar-link-container">
                <i class="fa-solid fa-house"></i>
                <a class="navbar-link" href="/">Home</a>
            </div>

            <div class="dropdown navbar-link-container">
                <i class="fa-solid fa-compass"></i>
                <a class="navbar-link">Features</a>
                <div class="dropdown-content">
                    <h1 class="dropdown-header">Alle Features</h1>
                    <hr>
                    <div>
                        <a href="geolocator" class="dropdown-list-items">
                            <i class="fa-solid fa-map-location-dot"></i>
                            <span class="correct-icon-space"></span> Geolocator</a>
                    </div>
                    <div>
                        <a href="raumklima" class="dropdown-list-items">
                            <i class="fa-solid fa-cloud-sun-rain"></i>
                            <span class="correct-icon-space"></span> Raumklima</a>
                    </div>
                </div>
            </div>

            <div class="navbar-link-container">
                <i class="fa-solid fa-user-group"></i>
                <a class="navbar-link" href="#">Über uns</a>
            </div>
            <div class="navbar-link-container">
                <i class="fa-solid fa-file-code"></i>
                <a class="navbar-link" href="https://github.com/FruchtTea/SensorFlow" target="_blank">Code</a>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>IoT - Sensorik am Körper - 2023</p>
    </footer>

    <script>
        console.log("  /$$$$$$                                                    /$$$$$$$$ /$$  ");
        console.log(" /$$__  $$                                                  | $$_____/| $$ ");
        console.log("| $$  \\__/  /$$$$$$  /$$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ | $$      | $$  /$$$$$$  /$$  /$$  /$$");
        console.log("|  $$$$$$  /$$__  $$| $$__  $$ /$$_____/ /$$__  $$ /$$__  $$| $$$$$   | $$ /$$__  $$| $$ | $$ | $$");
        console.log(" \\____  $$| $$$$$$$$| $$  \\ $$|  $$$$$$ | $$  \\ $$| $$  \\__/| $$__/   | $$| $$  \\ $$| $$ | $$ | $$");
        console.log(" /$$  \\ $$| $$_____/| $$  | $$ \\____  $$| $$  | $$| $$      | $$      | $$| $$  | $$| $$ | $$ | $$");
        console.log("|  $$$$$$/|  $$$$$$$| $$  | $$ /$$$$$$$/|  $$$$$$/| $$      | $$      | $$|  $$$$$$/|  $$$$$/$$$$/");
        console.log(" \\______/  \\_______/|__/  |__/|_______/  \\______/ |__/      |__/      |__/ \\______/  \\_____/\\___/");
    </script>
</body>

</html>